# 1. Manipulate using a list.
(i) To add new elements to the end of the list
(ii) To reverse elements in the list
(iii) To display the same list of elements multiple times.
(iv) To concatenate two list
(v) To sort the elements in the list in ascending order.

In [1]:
# To add new elements to the end of the list
list =[1,'Ankit',257598]
list

[1, 'Ankit', 257598]

In [4]:
list.append('patel')#append used to add single element in the list
list.extend ([1,2,3]) # extend is used to add 
list

[1, 'Ankit', 257598, 'patel', 'patel', 1, 2, 3, 'patel']

In [5]:
#To reverse elements in the list.
list.reverse
print("Reversed list: \n\n",list)

Reversed list:

 [1, 'Ankit', 257598, 'patel', 'patel', 1, 2, 3, 'patel']

In [6]:
# To display the same list of elements multiple times.
ls = [1,2,3]
mul= ls*2 #list multipled two times
print(mul)

[1, 2, 3, 1, 2, 3]

In [7]:
# To concatenate two list
list1 = [1,2,3]
list2 = [4,5,6]
con= list1 + list2 #both the list concatenate to one list
print(con)

[1, 2, 3, 4, 5, 6]

In [8]:
 # To sort the elements in the list in ascending order.
list=[7,8,6,4,2,0]
list.sort()
list

[0, 2, 4, 6, 7, 8]

# 2. Write a python program to implement the following using list.
(i) Manipulate using tuples.
(ii) To add new elements to the end of the tuples.
(iii) To reverse elements in the list.
(iv) To Display the elements of the same tuple multiple times.
(v) To concatenate two tuples.
(vi) To sort the elements in the list in ascending order.

In [10]:
 # Manipulate using tuples.
tuple = (4,5,6,7,8)
tuple

(4, 5, 6, 7, 8)

In [132]:
# To add new elements to the end of the tuples.
tup1 = (1,2,3)
tup1
#tuples are immutable, so you can not add new elements

(1, 2, 3)

In [ ]:
lis = list(tup1)
lis

In [119]:
# To reverse elements in the list.
tup1 = (1,2,3)
tup1

(1, 2, 3)

In [ ]:
lis1 = list(tup1)
lis1.reverse
print(lis1)

In [19]:
# To Display the elements of the same tuple multiple times.
tup = (1,2,3)
mul= tup*2 #list multipled two times
print(mul)

(1, 2, 3, 1, 2, 3)

In [20]:
# To concatenate two tuples.
tup1 = (1,2,3)
tup2 = (3,4,5)
con = tup1 + tup2
con

(1, 2, 3, 3, 4, 5)

In [135]:
# To sort the elements in the list in ascending order.
lis1 = list(tup1) 
lis1.sort()
print(lis1)

# 3.Write a python program to implement the following using list.
(i) Create a list with integers(minimum 10 numbers)
(ii) How to display the last number in the list.
(iii) Command for dispaly the values from the list [0:4]
(iv) Command for dispalying the values from the list [2:]
(v) Command for displaying the values from the list[:6]

In [26]:
# Create a list with integers(minimum 10 numbers)
list = [1,2,3,4,5,6,7,8,9,10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# How to display the last number in the list.
list[-1]

10

In [29]:
# Command for dispaly the values from the list [0:4]
list[0:4]

[1, 2, 3, 4]

In [30]:
# Command for dispalying the values from the list [2:]
list[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# Command for displaying the values from the list[:6]
list [:6]

[1, 2, 3, 4, 5, 6]

# 4.Write a python program: tuple1= (10,50,20,40,30)
   (i)To display the elements 10 and 50 from tuple1
   (ii)To dispaly the length of a tuple1
   (iii)To find the minimum element from tuple1
   (iv)To add all elements in the tuple1.
   (v) To display the same tuple1 multiple time

In [33]:
# To display the elements 10 and 50 from tuple1
tuple1= (10,50,20,40,30)
tuple1 [:2]

(10, 50)

In [34]:
# To dispaly the length of a tuple1
len(tuple1)

5

In [35]:
# To find the minimum element from tuple1
min(tuple1)

10

In [ ]:
# To add all elements in the tuple1.
# Since tuples are immutable we cannot add new elements.

In [36]:
# To display the same tuple1 multiple time.
tuple1*2

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a python program:
   (i) To calculate the length of a string.
   (ii) To reverse words in a string
   (iii) To display the same string multiple times
   (iv) To concatenate two strings
   (v) Str1="South India", using string slicing to display "India"

In [37]:
# To calculate the length of a string.
Str1="South India"
len(Str1)

11

In [39]:
# To reverse words in a string
Str1[: : -1]

'aidnI htuoS'

In [42]:
# To display the same string multiple times.
Str1*2

'South IndiaSouth India'

In [43]:
# To concatenate two strings.
S1="Hello"
S2="World"
S1+S2

'HelloWorld'

In [44]:
# Str1="South India", using string slicing to display "India"
Str1[6:]

'India'

# 6.Perform the following:
(i) Creating the Dicitionary.
(ii) Accessing values and keys in the dicitionary.
(iii) updating the dictionary using function.
(iv) clear and delete the dictionary values.

In [45]:
 # Creating the Dicitionary.
dict = {"name": "Ankit","age": 24, "country": "India" }
dict

{'name': 'Ankit', 'age': 24, 'country': 'India'}

In [49]:
 # Accessing values and keys in the dicitionary.
dict["country"]

'India'

In [55]:
# updating the dictionary using function.
dict = {"name": "Ankit","age": 24, "country": "India" }
dict1 = {'city':"mumbai"}
dict.update(dict1)
dict

{'name': 'Ankit', 'age': 24, 'country': 'India', 'city': 'mumbai'}

In [129]:
# clear and delete the dictionary values.
dict.clear()
dict

{}

# 7. Python Program to insert a number to any position in a list.

In [65]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [70]:
list.insert(5,6) # 5 is the index 6 is the value
list

[1, 2, 3, 4, 5, 6, 6]

# 8.Python program to delete a element from a list by index.

In [141]:
lis2 = [1,2,3,4,5]
lis2
lis2.pop(0)
lis2

[2, 3, 4, 5]

# 9. Write a program to display a number from 1 to 100.

In [130]:
for num in range(1, 101):
    print(num,end= ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10.Write a python program to find the sum of all items in a tuple.

In [79]:
tuple = (1, 2, 3, 4, 5)

sum = 0 # Initialize sum =0

for item in tuple:
    sum += item // sum=sum+item

print("Sum of items in the tuple:", sum)

Sum of items in the tuple: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root.
(i) e.g dict ={'square': function for squaring, 'cube' : function for cube, 'squareroot': function for square root}
(ii) Pass the values (input from the user) to the functions in the dictionary respectively.
(iii) The n add the outputs of each and print it.

In [172]:
# dict ={'square': function for squaring, 'cube' : function for cube, 'squareroot': function for square root}

162.2360679774998

# 12.A list of words is given. Find the words from the list that have their second character in uppercase.
ls = ['hello','dear','how','ARe','You']

In [85]:
ls = ['hello', 'dear', 'how', 'ARe', 'You']

result = [] # Initialize a list to store words with the second character in uppercase

# Iterate through the list and check the second character of each word
for word in ls:
    if len(word) > 1 and word[1].isupper(): 
        result.append(word)


print("Words with the second character in uppercase:", result) # Print the words

Words with the second character in uppercase: ['ARe']

# 1.Control Structures: Write a program to find the first N Prime numbers.

In [142]:
def isPrime(n):

  if(n==1 or n==0):    #since 0 and 1 is not prime return false.
    return False
 
  for i in range(2,n):    #Run a loop from 2 to n-1
    #if the number is divisible by i, then n is not a prime number.
    if(n%i==0):
      return False
   
  #otherwise, n is prime number.
  return True
 
 
N = 100;

for i in range(1,N+1):   #check for every number from 1 to N
  #check if current number is prime
  if(isPrime(i)):
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA and DA. Add these components to calculate the gross salary. Also, deduct 10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary.

In [100]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da # Calculate the Gross Salary


tax = 0.10 * gross_salary # Calculate the Tax (10% of Gross Salary)


net_salary = gross_salary - tax # Calculate the Net Salary (Gross Salary - Tax)

# Display the results
print(f"Gross Salary: {gross_salary}") 
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 6464
Enter HRA: 5353
Enter TA: 3646
Enter DA: 4646
Gross Salary: 20109.0
Tax: 2010.9
Net Salary: 18098.1

# 3. Write a python program to search a string in a given list.

In [91]:
list = ['apple', 'banana', 'cherry', 'mango']

string = input("Enter a string to search for: ") #string to search for


found = False # Initialize a flag to check if the string is found


for item in list:     # Iterate through the list to search for the string
    if item == string:
        found = True
        break  # Stop searching once the string is found

# Check if the string was found and print the result
if found:
    print(f"The string '{string}' was found in the list.")
else:
    print(f"The string '{string}' was not found in the list.")

Enter a string to search for: Apple
The string 'Apple' was not found in the list.

# 4. Write a python program that accepts a string and calculates the number of uppercase letters and lowercase letters.

In [143]:
def count_letters(string):
    uppercase_count = 0
    lowercase_count = 0

    for char in string:
        if char.isupper():
            uppercase_count += 1
        elif char.islower():
            lowercase_count += 1

    return uppercase_count, lowercase_count

input_string = input("Enter a string: ")

uppercase, lowercase = count_letters(input_string)

print(f"Uppercase letters: {uppercase}")
print(f"Lowercase letters: {lowercase}")

Enter a string: Ankit
Uppercase letters: 1
Lowercase letters: 4

# 5.Write a python program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [97]:
even = 0
odd = 0

for num in range(12, 38): # Iterate  numbers from 12 to 37
    if num % 2 == 0:
        even += num  # Add even number to even
    else:
        odd += num   # Add odd number to odd

# Display the sums
print(f"Sum of even numbers between 12 and 37: {even}")
print(f"Sum of odd numbers between 12 and 37: {odd}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6.Write a python program to print the table of any number.

In [104]:
num = int(input("Enter a number: "))

table_range = range(1, 11) # Set the range for the multiplication table (1 to 10)

print("Multiplication table for {num}:")  # Print the multiplication table

for i in table_range:
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 10
Multiplication table for {num}:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# 7. Write a python program to sum the first 10 prime numbers.

In [177]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

def sum_first_10_primes():
    count = 0
    num = 2
    prime_sum = 0

    while count < 10:
        if is_prime(num):
            prime_sum += num
            count += 1
        num += 1

    return prime_sum

result = sum_first_10_primes()
print(f"The sum of the first 10 prime numbers is: {result}")

The sum of the first 10 prime numbers is: 129

# 8.Write a python program to implement arithmetic operation using nested if statement.

In [149]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /): ")

# Perform the arithmetic operation based on the operator
if operator == '+':
    result = num1 + num2
elif operator == '-':
    result = num1 - num2
elif operator == '*':
    result = num1 * num2
elif operator == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Division by zero is not allowed."
else:
    result = "Invalid operator."

# Display the result
print(f"Result: {result}")

Enter the first number: 10
Enter the second number: 20
Enter an operator (+, -, *, /): +
Result: 30.0

# 9. Write a python program to take the temperature in celcius and convert it to farenheit.

In [151]:
celsius = int(input("Enter the Temperature in Celsius :\n"))
fahrenheit = (1.8 * celsius) + 32
print("Temperature in Fahrenheit :", fahrenheit)

Enter the Temperature in Celsius :
10
Temperature in Fahrenheit : 50.0

# 10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.

In [152]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s

print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

# 11.Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per day, 60 seconds in a minute.

In [153]:
days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60


total_seconds = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute # Calculate the total number of seconds in a 30-day month

print(f"Number of seconds in a 30-day month: {total_seconds}")

Number of seconds in a 30-day month: 2592000

# 12. Write a python program to print out number of seconds in a year.

In [154]:
days=365
hours=24
minutes=60
seconds=60
print("Number of seconds in a year : ",days*hours*minutes*seconds)

Number of seconds in a year :  31536000

# 13. A high speed train can travel at an average of 150 mph, how long it take a train travelling at this speed to travel from london to glasgow which is 414 miles away.

In [178]:
distance = 414
speed = 150
time = (distance/speed)
print("It will take",time,"hours to travel from london to glasgow")

It will take 2.76 hours to travel from london to glasgow

# 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program than should print out the total hours that you spend on your school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year=192.

In [171]:
days_in_each_school_year = 192

# Define the range of school years (from year 7 to year 11)
start_year = 7
end_year = 11


total_hours = (end_year - start_year + 1) * days_in_each_school_year * 6  # Calculate the total hours spent on school

# Print the total hours spent on school
print(f"Total hours spent on school from year {start_year} to year {end_year}: {total_hours} hours")

Total hours spent on school from year 7 to year 11: 5760 hours

# 15. If the age of ram shyam and khan are input through the keyboard, write a python program to determine the eldest and youngest of the three.

In [170]:
ram_age = int(input("Enter Ram's age: "))
shyam_age = int(input("Enter Shyam's age: "))
khan_age = int(input("Enter Khan's age: "))

eldest = max(ram_age, shyam_age, khan_age)
youngest = min(ram_age, shyam_age, khan_age)

print(f"The eldest among Ram, Shyam, and Khan is {eldest} years old.")
print(f"The youngest among Ram, Shyam, and Khan is {youngest} years old.")

Enter Ram's age: 20
Enter Shyam's age: 30
Enter Khan's age: 40
The eldest among Ram, Shyam, and Khan is 40 years old.
The youngest among Ram, Shyam, and Khan is 20 years old.

# 16.Write a python program to rotate a list by right n times with and without slicing technique.

In [158]:
def rightRotate(lists, num):
    output_list = []
 
    
    for item in range(len(lists) - num, len(lists)): # Will add values from n to the new list
        output_list.append(lists[item])
 
    # Will add the values before
    # n to the end of new list
    for item in range(0, len(lists) - num):
        output_list.append(lists[item])
 
    return output_list
 
rotate_num = 3
list_1 = [1, 2, 3,4,5,6]
 
print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [160]:
n = 3
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = (list_1[len(list_1) - n:len(list_1)]
                 + list_1[0:len(list_1) - n])
print(list_1)

[4, 5, 6, 1, 2, 3]

# 17.Patterns

In [161]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print("* ", end="")
    print("\n")

Enter number of rows: 5
*

* *

* * *

* * * *

* * * * *

In [162]:
n = int(input())
i=1

while i <= n:
    j=1
    while j <= i:
        if i == 1:                                                                                         
            print(1,end ='')
        
        elif j == 1 or j == i:
            print(1,end ='')
            
        else:
            print(2,end='')
            
        j=j+1
    print()
    i=i+1

5
1
11
121
1221
12221

In [165]:
def solve(n):
   for i in range(n+1):
      for j in range(n-i):
         print(' ', end='')

      C = 1
      for j in range(1, i+1):
         print(C, ' ', sep='',end=' ')
         C = C * (i - j) // j
      print()

n = 5
solve(n)

    1
   1  1
  1  2  1
 1  3  3  1
1  4  6  4  1

In [167]:
n = 7  # Change this value to adjust the number of rows

for i in range(1, n + 1):  # Print spaces
    
    for j in range(n - i):
        print(" ", end="")

    
    for k in range(i):     # Print asterisks
        print("*", end=" ")

    # Move to the next line
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

In [169]:
word= "Python"
for i in range(1, len(word) +1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python