# 1. Manipulate using a list.
(i) To add new elements to the end of the list
(ii) To reverse elements in the list
(iii) To display the same list of elements multiple times.
(iv) To concatenate two list
(v) To sort the elements in the list in ascending order.

In [1]:
# To add new elements to the end of the list
list =[1,'Ankit',257598]
list

[1, 'Ankit', 257598]

In [4]:
list.append('patel')#append used to add single element in the list
list.extend ([1,2,3]) # extend is used to add 
list

[1, 'Ankit', 257598, 'patel', 'patel', 1, 2, 3, 'patel']

In [5]:
#To reverse elements in the list.
list.reverse
print("Reversed list: \n\n",list)

Reversed list:

 [1, 'Ankit', 257598, 'patel', 'patel', 1, 2, 3, 'patel']

In [6]:
# To display the same list of elements multiple times.
ls = [1,2,3]
mul= ls*2 #list multipled two times
print(mul)

[1, 2, 3, 1, 2, 3]

In [7]:
# To concatenate two list
list1 = [1,2,3]
list2 = [4,5,6]
con= list1 + list2 #both the list concatenate to one list
print(con)

[1, 2, 3, 4, 5, 6]

In [8]:
 # To sort the elements in the list in ascending order.
list=[7,8,6,4,2,0]
list.sort()
list

[0, 2, 4, 6, 7, 8]

# 2. Write a python program to implement the following using list.
(i) Manipulate using tuples.
(ii) To add new elements to the end of the tuples.
(iii) To reverse elements in the list.
(iv) To Display the elements of the same tuple multiple times.
(v) To concatenate two tuples.
(vi) To sort the elements in the list in ascending order.

In [10]:
 # Manipulate using tuples.
tuple = (4,5,6,7,8)
tuple

(4, 5, 6, 7, 8)

In [114]:
# To add new elements to the end of the tuples.
tup = (1,2,3)
tup
#tuples are immutable, so you can not add new elements

(1, 2, 3)

In [118]:
lis = list(tup)

TypeError: 'list' object is not callable

In [119]:
# To reverse elements in the list.
tup1 = (1,2,3)
tup1

(1, 2, 3)

In [122]:
lis1 = list(tup1)
lis1.reverse()
print(lis1)

TypeError: 'list' object is not callable

In [19]:
# To Display the elements of the same tuple multiple times.
tup = (1,2,3)
mul= tup*2 #list multipled two times
print(mul)

(1, 2, 3, 1, 2, 3)

In [20]:
# To concatenate two tuples.
tup1 = (1,2,3)
tup2 = (3,4,5)
con = tup1 + tup2
con

(1, 2, 3, 3, 4, 5)

In [110]:
# To sort the elements in the list in ascending order.
lis1 = list(tup1) 
lis1.sort()
print(lis1)

TypeError: 'list' object is not callable

# 3.Write a python program to implement the following using list.
(i) Create a list with integers(minimum 10 numbers)
(ii) How to display the last number in the list.
(iii) Command for dispaly the values from the list [0:4]
(iv) Command for dispalying the values from the list [2:]
(v) Command for displaying the values from the list[:6]

In [26]:
# Create a list with integers(minimum 10 numbers)
list = [1,2,3,4,5,6,7,8,9,10]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
# How to display the last number in the list.
list[-1]

10

In [29]:
# Command for dispaly the values from the list [0:4]
list[0:4]

[1, 2, 3, 4]

In [30]:
# Command for dispalying the values from the list [2:]
list[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
# Command for displaying the values from the list[:6]
list [:6]

[1, 2, 3, 4, 5, 6]

# 4.Write a python program: tuple1= (10,50,20,40,30)
   (i)To display the elements 10 and 50 from tuple1
   (ii)To dispaly the length of a tuple1
   (iii)To find the minimum element from tuple1
   (iv)To add all elements in the tuple1.
   (v) To display the same tuple1 multiple time

In [33]:
# To display the elements 10 and 50 from tuple1
tuple1= (10,50,20,40,30)
tuple1 [:2]

(10, 50)

In [34]:
# To dispaly the length of a tuple1
len(tuple1)

5

In [35]:
# To find the minimum element from tuple1
min(tuple1)

10

In [ ]:
# To add all elements in the tuple1.
# Since tuples are immutable we cannot add new elements.

In [36]:
# To display the same tuple1 multiple time.
tuple1*2

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a python program:
   (i) To calculate the length of a string.
   (ii) To reverse words in a string
   (iii) To display the same string multiple times
   (iv) To concatenate two strings
   (v) Str1="South India", using string slicing to display "India"

In [37]:
# To calculate the length of a string.
Str1="South India"
len(Str1)

11

In [39]:
# To reverse words in a string
Str1[: : -1]

'aidnI htuoS'

In [42]:
# To display the same string multiple times.
Str1*2

'South IndiaSouth India'

In [43]:
# To concatenate two strings.
S1="Hello"
S2="World"
S1+S2

'HelloWorld'

In [44]:
# Str1="South India", using string slicing to display "India"
Str1[6:]

'India'

# 6.Perform the following:
(i) Creating the Dicitionary.
(ii) Accessing values and keys in the dicitionary.
(iii) updating the dictionary using function.
(iv) clear and delete the dictionary values.

In [45]:
 # Creating the Dicitionary.
dict = {"name": "Ankit","age": 24, "country": "India" }
dict

{'name': 'Ankit', 'age': 24, 'country': 'India'}

In [49]:
 # Accessing values and keys in the dicitionary.
dict["country"]

'India'

In [55]:
# updating the dictionary using function.
dict = {"name": "Ankit","age": 24, "country": "India" }
dict1 = {'city':"mumbai"}
dict.update(dict1)
dict

{'name': 'Ankit', 'age': 24, 'country': 'India', 'city': 'mumbai'}

In [61]:
# clear and delete the dictionary values.
dict.clear()
dict

TypeError: unbound method dict.clear() needs an argument

# 7. Python Program to insert a number to any position in a list.

In [65]:
list = [1,2,3,4]
list

[1, 2, 3, 4]

In [70]:
list.insert(5,6) # 5 is the index 6 is the value
list

[1, 2, 3, 4, 5, 6, 6]

# 8.Python program to delete a element from a list by index.

In [75]:
list = [1,2,3,4,5]
del list

# 9. Write a program to display a number from 1 to 100.

In [77]:
for num in range(1, 101):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10.Write a python program to find the sum of all items in a tuple.

In [79]:
tuple = (1, 2, 3, 4, 5)

sum = 0 # Initialize sum =0

for item in tuple:
    sum += item // sum=sum+item

print("Sum of items in the tuple:", sum)

Sum of items in the tuple: 15

# 11. Create a dictionary containing three lambda functions square, cube and square root.
(i) e.g dict ={'square': function for squaring, 'cube' : function for cube, 'squareroot': function for square root}
(ii) Pass the values (input from the user) to the functions in the dictionary respectively.
(iii) Then add the outputs of each and print it.

In [82]:
# dict ={'square': function for squaring, 'cube' : function for cube, 'squareroot': function for square root}
dict ={'square': 'function for squaring', 'cube' : 'function for cube', 'squareroot': 'function for square root'}
dict

{'square': 'function for squaring',
 'cube': 'function for cube',
 'squareroot': 'function for square root'}

# 12.A list of words is given. Find the words from the list that have their second character in uppercase.
ls = ['hello','dear','how','ARe','You']

In [85]:
ls = ['hello', 'dear', 'how', 'ARe', 'You']

result = [] # Initialize a list to store words with the second character in uppercase

# Iterate through the list and check the second character of each word
for word in ls:
    if len(word) > 1 and word[1].isupper(): 
        result.append(word)


print("Words with the second character in uppercase:", result) # Print the words that meet the criteria

Words with the second character in uppercase: ['ARe']

# 1.Control Structures:
    1. Write a program to find the first N Prime numbers.

# 2. Write the python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA and DA. Add these components to calculate the gross salary. Also, deduct 10% of salary from the gross salary to be paid as tax and display gross minus tax as net salary.

In [100]:
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da # Calculate the Gross Salary


tax = 0.10 * gross_salary # Calculate the Tax (10% of Gross Salary)


net_salary = gross_salary - tax # Calculate the Net Salary (Gross Salary - Tax)

# Display the results
print(f"Gross Salary: {gross_salary}") 
print(f"Tax: {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 6464
Enter HRA: 5353
Enter TA: 3646
Enter DA: 4646
Gross Salary: 20109.0
Tax: 2010.9
Net Salary: 18098.1

# 3. Write a python program to search a string in a given list.

In [91]:
list = ['apple', 'banana', 'cherry', 'mango']

string = input("Enter a string to search for: ") #string to search for


found = False # Initialize a flag to check if the string is found


for item in list:     # Iterate through the list to search for the string
    if item == string:
        found = True
        break  # Stop searching once the string is found

# Check if the string was found and print the result
if found:
    print(f"The string '{string}' was found in the list.")
else:
    print(f"The string '{string}' was not found in the list.")

Enter a string to search for: Apple
The string 'Apple' was not found in the list.

# 5.Write a python program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [97]:
even = 0
odd = 0

for num in range(12, 38): # Iterate through numbers from 12 to 37
    if num % 2 == 0:
        even += num  # Add even number to even
    else:
        odd += num   # Add odd number to odd

# Display the sums
print(f"Sum of even numbers between 12 and 37: {even}")
print(f"Sum of odd numbers between 12 and 37: {odd}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6.Write a python program to print the table of any number.

In [104]:
num = int(input("Enter a number: "))

table_range = range(1, 11) # Set the range for the multiplication table (1 to 10)

print("Multiplication table for {num}:")  # Print the multiplication table

for i in table_range:
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number: 10
Multiplication table for {num}:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# 7.