# 4

In [6]:
import mysql.connector as sql

In [28]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Ankit@139',
                   database='employee_managment1')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E2AE11C8D0>

In [29]:
curs=conn.cursor()

In [30]:
curs

In [31]:
curs=conn.cursor()
curs.execute("show databases")
for i in curs:
    print(i)

('books',)
('cake',)
('company',)
('department',)
('details',)
('employee_managment',)
('employee_managment1',)
('information_schema',)
('mysql',)
('performance_schema',)
('shirts_db',)
('user',)

In [38]:
curs.execute("create table employees1 (name varchar(20), salary INTEGER, department TEXT , hire_date DATE)")

In [39]:
curs.execute("show tables")
for i in curs:
    print(i)

('employees',)
('employees1',)

In [48]:
cus_insert="insert into employees1 (name,salary,department,hire_date) values (%s,%s,%s,%s)"   #records insert
cus_val=[('john',5200,'IT','2013-09-6'),
        ('alex',5600,'CS','2015-08-14'),
        ('aman',4843,'ECE','2013-03-15'),
        ('abhi',9877,'ME','2014-05-16')]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

4 records inserted

In [50]:
#display
curs.execute("select * from employees1")
result=curs.fetchall()
for i in result:
        print(i)

('john', 5200, 'IT', datetime.date(2013, 9, 6))
('alex', 5600, 'CS', datetime.date(2015, 8, 14))
('aman', 4843, 'ECE', datetime.date(2013, 3, 15))
('abhi', 9877, 'ME', datetime.date(2014, 5, 16))
('john', 5200, 'IT', datetime.date(2013, 9, 6))
('alex', 5600, 'CS', datetime.date(2015, 8, 14))
('aman', 4843, 'ECE', datetime.date(2013, 3, 15))
('abhi', 9877, 'ME', datetime.date(2014, 5, 16))
('john', 5200, 'IT', datetime.date(2013, 9, 6))
('alex', 5600, 'CS', datetime.date(2015, 8, 14))
('aman', 4843, 'ECE', datetime.date(2013, 3, 15))
('abhi', 9877, 'ME', datetime.date(2014, 5, 16))
('john', 5200, 'IT', datetime.date(2013, 9, 6))
('alex', 5600, 'CS', datetime.date(2015, 8, 14))
('aman', 4843, 'ECE', datetime.date(2013, 3, 15))
('abhi', 9877, 'ME', datetime.date(2014, 5, 16))

In [52]:
sql="select * from employees1 where department='IT'"
curs.execute(sql)
for i in curs:
    print (i)

('john', 5200, 'IT', datetime.date(2013, 9, 6))
('john', 5200, 'IT', datetime.date(2013, 9, 6))
('john', 5200, 'IT', datetime.date(2013, 9, 6))
('john', 5200, 'IT', datetime.date(2013, 9, 6))

In [56]:
sql="UPDATE employees1 SET salary = 20000 WHERE name = 'john'"
curs.execute(sql)
for i in curs:
    print (i)

In [57]:
sql="select * from employees1 where department='IT'"
curs.execute(sql)
for i in curs:
    print (i)

('john', 20000, 'IT', datetime.date(2013, 9, 6))
('john', 20000, 'IT', datetime.date(2013, 9, 6))
('john', 20000, 'IT', datetime.date(2013, 9, 6))
('john', 20000, 'IT', datetime.date(2013, 9, 6))

# 3

In [58]:
import mysql.connector as sql

In [59]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Ankit@139',
                   database='demo')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E2AE19E990>

In [60]:
curs=conn.cursor()

In [61]:
curs

In [62]:
curs.execute("create table test_demo (id int,name varchar(20), quantity int)")

In [63]:
curs.execute("show tables")
for i in curs:
    print(i)

('test_demo',)

In [65]:
cus_insert="insert into test_demo (id,name,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(101,'john',1000),
        (102,'alex',2000),
        (103,'aman',3000),
        (104,'abhi',4000),
        (105,'ankit',5000)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [66]:
curs.execute("select * from test_demo")
result=curs.fetchall()
for i in result:
        print(i)

(101, 'john', 1000)
(102, 'alex', 2000)
(103, 'aman', 3000)
(104, 'abhi', 4000)
(105, 'ankit', 5000)

In [70]:
import mysql.connector

# Database connection configuration
db_config = {
    "host": "127.0.0.1",
    "user": "root",
    "password": "Ankit@139",
    "database": "demo",
}

try:
    # Connect to the MySQL database
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()

    # Retrieve all records from your table
    cursor.execute("SELECT * FROM test_demo")
    records = cursor.fetchall()

    # Calculate the total quantity of all records retrieved
    total_quantity = sum(record[2] for record in records)

    # Update the quantity column of each record by doubling its value
    for record in records:
        new_quantity = record[2] * 2
        cursor.execute("UPDATE test_demo SET quantity = %s WHERE id = %s", (new_quantity, record[0]))

   
    conn.commit()           # Commit the changes to the database

  
    conn.close()            # Close the database connection

    # Print the total quantity before and after the update
    print(f"Total quantity before update: {total_quantity}")
    print("All records updated successfully.")

except mysql.connector.Error as e:
    # Handle any potential errors during the database connection and data manipulation
    print(f"Error: {e}")
finally:
    if conn.is_connected():
        conn.close()

Total quantity before update: 15000
All records updated successfully.

# 2. Customer Order Processing

In [71]:
import mysql.connector as sql

In [72]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Ankit@139',
                   database='customer')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E2AE0B86D0>

In [73]:
curs=conn.cursor()
curs

In [74]:
curs.execute("create table customer_order (customer_id INT PRIMARY KEY, name VARCHAR(50), email VARCHAR(255))")

In [75]:
curs.execute("create table products (product_id INT PRIMARY KEY, product_name VARCHAR(255) NOT NULL,price DECIMAL(10, 2) NOT NULL, quantity INT)")

In [77]:
curs.execute("create table order_details (order_id INT PRIMARY KEY, customer_id INT, order_date DATE)")

In [78]:
curs.execute("show tables")
for i in curs:
    print(i)

('customer_order',)
('order_details',)
('products',)

In [79]:
cus_insert="insert into customer_order (customer_id,name,email) values (%s,%s,%s)"   #records insert
cus_val=[(101,'john','john@gmail.com'),
        (102,'alex','alex@gmail.com'),
        (103,'aman','aman@gmail.com'),
        (104,'abhi','abhi@gmail.com'),
        (105,'ankit','ankit@gmail.com')]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [80]:
curs.execute("select * from customer_order")
result=curs.fetchall()
for i in result:
        print(i)

(101, 'john', 'john@gmail.com')
(102, 'alex', 'alex@gmail.com')
(103, 'aman', 'aman@gmail.com')
(104, 'abhi', 'abhi@gmail.com')
(105, 'ankit', 'ankit@gmail.com')

In [81]:
cus_insert="insert into products (product_id,product_name,price,quantity) values (%s,%s,%s,%s)"   #records insert
cus_val=[(1001,'books',1000.3,100),
        (1002,'mobile',2030.34,200),
        (1003,'TV',3272.844,300),
        (1004,'Laptop',4728.833,928),
        (1005,'AC',2738.373,938)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [82]:
curs.execute("select * from products")
result=curs.fetchall()
for i in result:
        print(i)

(1001, 'books', Decimal('1000.30'), 100)
(1002, 'mobile', Decimal('2030.34'), 200)
(1003, 'TV', Decimal('3272.84'), 300)
(1004, 'Laptop', Decimal('4728.83'), 928)
(1005, 'AC', Decimal('2738.37'), 938)

In [87]:
cus_insert="insert into order_details (order_id,customer_id,order_date) values (%s,%s,%s)"   #records insert
cus_val=[(101,1234,'2019-09-22'),
        (102,3456,'2020-10-23'),
        (103,7545,'2021-02-28'),
        (104,5644,'2022-01-21'),
        (105,5443,'2023-03-23')]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [88]:
curs.execute("select * from order_details")
result=curs.fetchall()
for i in result:
        print(i)

(101, 1234, datetime.date(2019, 9, 22))
(102, 3456, datetime.date(2020, 10, 23))
(103, 7545, datetime.date(2021, 2, 28))
(104, 5644, datetime.date(2022, 1, 21))
(105, 5443, datetime.date(2023, 3, 23))

In [91]:
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Ankit@139",
    database="customer"
)
cursor = conn.cursor()


def place_order(customer_id, product_id, quantity):   # Function to place an order    
    try:
        
        cursor.execute("SELECT quantity, price FROM products WHERE product_id = %s", (product_id,))    # Check if the product is available
        result = cursor.fetchone()

        if result and result[0] >= quantity:
            subtotal = result[1] * quantity

            # Insert order details into the database
            cursor.execute("INSERT INTO order_details (order_id, product_id, quantity, subtotal) VALUES (%s, %s, %s, %s)",
                           (order_id, product_id, quantity, subtotal))

            # Update product quantity in the database
            cursor.execute("UPDATE products SET quantity = quantity - %s WHERE product_id = %s",
                           (quantity, product_id))

            conn.commit()
            print("Order placed successfully.")
        else:
            print("Product not available or insufficient quantity.")
    except mysql.connector.Error as e:
        print(f"Error: {e}")


place_order(1, 11, 20)

# Close the database connection
conn.close()

Product not available or insufficient quantity.

# 1

In [94]:
import mysql.connector as sql

In [95]:
conn= sql.connect(host='127.0.0.1',
                   user='root',
                   password='Ankit@139',
                   database='inventory')
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001E2AD065CD0>

In [96]:
curs=conn.cursor()
curs

In [97]:
curs.execute("create table purchases (purchase_id INT PRIMARY KEY, product_name VARCHAR(50),  quantity INT)")

In [98]:
curs.execute("create table sales (sales_id INT PRIMARY KEY, sales_date DATE,  quantity INT)")

In [99]:
curs.execute("create table inventory (inventory_id INT, inventory_name VARCHAR(50),  quantity INT)")

In [100]:
curs.execute("show tables")
for i in curs:
    print(i)

('inventory',)
('purchases',)
('sales',)

In [101]:
cus_insert="insert into purchases (purchase_id,product_name,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(1001,'books',500),
        (1002,'mobile',600),
        (1003,'TV',700),
        (1004,'Laptop',800),
        (1005,'AC',900)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [103]:
curs.execute("select * from purchases")
result=curs.fetchall()
for i in result:
        print(i)

(1001, 'books', 500)
(1002, 'mobile', 600)
(1003, 'TV', 700)
(1004, 'Laptop', 800)
(1005, 'AC', 900)

In [104]:
cus_insert="insert into sales (sales_id,sales_date,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(10,'2011-01-02',5000),
        (12,'2012-04-03',6000),
        (13,'2013-08-09',7000),
        (14,'2014-03-03',8000),
        (15,'2015-05-23',9000)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [105]:
curs.execute("select * from sales")
result=curs.fetchall()
for i in result:
        print(i)

(10, datetime.date(2011, 1, 2), 5000)
(12, datetime.date(2012, 4, 3), 6000)
(13, datetime.date(2013, 8, 9), 7000)
(14, datetime.date(2014, 3, 3), 8000)
(15, datetime.date(2015, 5, 23), 9000)

In [106]:
cus_insert="insert into inventory (inventory_id,inventory_name,quantity) values (%s,%s,%s)"   #records insert
cus_val=[(105,'acc',50001),
        (106,'bcs',60001),
        (107,'hds',70001),
        (108,'dfs',80001),
        (109,'rew',90001)]

curs.executemany(cus_insert,cus_val)
conn.commit()
print(curs.rowcount,'records inserted')

5 records inserted

In [107]:
curs.execute("select * from inventory")
result=curs.fetchall()
for i in result:
        print(i)

(105, 'acc', 50001)
(106, 'bcs', 60001)
(107, 'hds', 70001)
(108, 'dfs', 80001)
(109, 'rew', 90001)

In [110]:
sql="select * from inventory where quantity<=60001"
curs.execute(sql)
for i in curs:
    print (i)

(105, 'acc', 50001)
(106, 'bcs', 60001)

# Modules and Virtual Environments.

# 2. virtual environment

In [ ]:
# Open Command Prompt.
#     > pip
#     >pip install virtualenv             #creating a virtual environment

#     >virtualenv ank                       #virtual environment in ank folder

#     > .ank\Scripts\activate  

#     >pip install sklearn                   #installing sklearn

#     >python

#     >import sklearn                        #import sklearn in python

#     >pip install numpy                       #installing numpy

#     >pip uninstall sklearn

#     >pip freeze > requirement.txt       #keeping the versions in the requirement.txt file